html,
body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
}
@media (prefers-color-scheme: light) {
  html,
  body {
    color: black;
  }
}
html svg#icon,
body svg#icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}
html,
body {
  --sidebarWidth: 72px;
}
html div#main-container,
body div#main-container {
  float: right;
  display: block;
  width: calc(100% - 4px - var(--sidebarWidth));
  height: 100%;
}
html div#main-container div#main,
body div#main-container div#main {
  margin: 10;
}
html div#main-container div#main div#curPreview-container,
body div#main-container div#main div#curPreview-container {
  border-radius: 14px;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.2s ease-in-out;
}
@media (prefers-color-scheme: light) {
  html div#main-container div#main div#curPreview-container,
  body div#main-container div#main div#curPreview-container {
    background: rgba(0, 0, 0, 0.1);
  }
}
html div#main-container div#main div#curPreview-container:hover,
body div#main-container div#main div#curPreview-container:hover {
  background: rgba(255, 255, 255, 0.2);
}
@media (prefers-color-scheme: light) {
  html div#main-container div#main div#curPreview-container:hover,
  body div#main-container div#main div#curPreview-container:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
html div#main-container div#main div#curPreview-container:hover > *,
body div#main-container div#main div#curPreview-container:hover > * {
  opacity: 0.9;
}
html div#main-container div#main div#curPreview-container div#curPreview-content,
body div#main-container div#main div#curPreview-container div#curPreview-content {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  height: 64px;
}
html div#main-container div#main div#curPreview-container div#curPreview-content p#curName,
body div#main-container div#main div#curPreview-container div#curPreview-content p#curName {
  font-size: 20px;
  margin: 8px 16px 0 16px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  transform: translateY(65%);
}
html div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews,
body div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews {
  margin: 0;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-35%);
  float: right;
}
html div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews img.cursor-preview,
body div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews img.cursor-preview {
  width: 32px;
}
html div#sidebar-container,
body div#sidebar-container {
  margin-left: 4px;
  float: left;
  display: block;
  width: var(--sidebarWidth);
  height: 100%;
}
html div#sidebar-container div#sb-button,
body div#sidebar-container div#sb-button {
  margin: 2px;
  border-radius: 14px;
  display: inline-block;
  width: 100%;
  height: 78px;
  transition: 0.2s ease-in-out;
}
html div#sidebar-container div#sb-button:hover,
body div#sidebar-container div#sb-button:hover {
  background: rgba(255, 255, 255, 0.2);
}
@media (prefers-color-scheme: light) {
  html div#sidebar-container div#sb-button:hover,
  body div#sidebar-container div#sb-button:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}
html div#sidebar-container div#sb-button:hover > *,
body div#sidebar-container div#sb-button:hover > * {
  opacity: 0.9;
}
html div#sidebar-container div#sb-button div#sb-icon,
body div#sidebar-container div#sb-button div#sb-icon {
  display: flex;
  justify-content: center;
  transform: translateY(25%);
}
html div#sidebar-container div#sb-button p#sb-label,
body div#sidebar-container div#sb-button p#sb-label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */