:root {
  --cursePreviewHighlight-light: rgba(0, 0, 0, 0.2);
  --cursePreviewHighlight-dark: rgba(255, 255, 255, 0.2);
  --cursePreviewHighlightClick-light: rgba(0, 0, 0, 0.2);
  --cursePreviewHighlightClick-dark: rgba(255, 255, 255, 0.2);
  --sidebarBGHighlight-light: rgba(0, 0, 0, 0.2);
  --sidebarBGHighlight-dark: rgba(255, 255, 255, 0.2);
  --sidebarBGHighlightClick-light: rgba(0, 0, 0, 0.2);
  --sidebarBGHighlightClick-dark: rgba(255, 255, 255, 0.2);
}

html,
body {
  margin: 0;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: transparent;
}
@media (prefers-color-scheme: light) {
  html,
  body {
    color: black;
  }
}
html svg#icon,
body svg#icon {
  fill: currentColor;
  width: 32px;
  height: 32px;
}
html,
body {
  --sidebarWidth: 72px;
}
html div#main-container,
body div#main-container {
  float: right;
  display: block;
  width: calc(100% - 4px - var(--sidebarWidth));
  height: 100%;
}
html div#main-container div#main,
body div#main-container div#main {
  margin: 10;
}
html div#main-container div#main div#cursorThemes,
body div#main-container div#main div#cursorThemes {
  opacity: 0;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}
html div#main-container div#main div#cursorThemes.loaded,
body div#main-container div#main div#cursorThemes.loaded {
  opacity: 1;
  pointer-events: initial;
}
html div#main-container div#main div#curPreview-container,
body div#main-container div#main div#curPreview-container {
  border-radius: 14px;
  width: 100%;
  background: rgba(255, 255, 255, 0.05);
  transition: 0.2s ease-in-out;
}
@media (prefers-color-scheme: light) {
  html div#main-container div#main div#curPreview-container,
  body div#main-container div#main div#curPreview-container {
    background: rgba(0, 0, 0, 0.05);
  }
}
html div#main-container div#main div#curPreview-container:hover,
body div#main-container div#main div#curPreview-container:hover {
  background: var(--cursePreviewHighlight-dark);
}
@media (prefers-color-scheme: light) {
  html div#main-container div#main div#curPreview-container:hover,
  body div#main-container div#main div#curPreview-container:hover {
    background: var(--cursePreviewHighlight-light);
  }
}
html div#main-container div#main div#curPreview-container:hover > *,
body div#main-container div#main div#curPreview-container:hover > * {
  opacity: 0.9;
}
html div#main-container div#main div#curPreview-container:active,
body div#main-container div#main div#curPreview-container:active {
  background: var(--cursePreviewHighlightClick-dark);
}
@media (prefers-color-scheme: light) {
  html div#main-container div#main div#curPreview-container:active,
  body div#main-container div#main div#curPreview-container:active {
    background: var(--cursePreviewHighlightClick-light);
  }
}
html div#main-container div#main div#curPreview-container div#curPreview-content,
body div#main-container div#main div#curPreview-container div#curPreview-content {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin: 0;
  height: 64px;
}
html div#main-container div#main div#curPreview-container div#curPreview-content p#curName,
body div#main-container div#main div#curPreview-container div#curPreview-content p#curName {
  font-size: 20px;
  margin: 8px 16px 0 16px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 50%;
  transform: translateY(65%);
}
html div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews,
body div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews {
  margin: 0;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-35%);
  float: right;
}
html div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews img.cursor-preview,
body div#main-container div#main div#curPreview-container div#curPreview-content div#curPreviews img.cursor-preview {
  width: 32px;
}
html div#main-container div#main div#curseInfo1,
body div#main-container div#main div#curseInfo1 {
  display: block;
  background: rgba(255, 255, 255, 0.05);
  padding: 14px 4px 10px 4px;
  margin: 20px;
  margin-bottom: 6px;
  border-radius: 6px 6px 0 0;
}
html div#main-container div#main div#curseInfo1 div#curseIconContainer,
body div#main-container div#main div#curseInfo1 div#curseIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
html div#main-container div#main div#curseInfo1 div#curseIconContainer img,
body div#main-container div#main div#curseInfo1 div#curseIconContainer img {
  width: 128px;
}
html div#main-container div#main div#curseInfo1 div#curseInfoText,
body div#main-container div#main div#curseInfo1 div#curseInfoText {
  text-align: center;
}
html div#main-container div#main div#curseInfo1 div#curseInfoText p#appName,
body div#main-container div#main div#curseInfo1 div#curseInfoText p#appName {
  font-size: large;
  line-height: 0;
}
html div#main-container div#main div#curseInfo1 div#curseInfoText p#appSubtitle,
body div#main-container div#main div#curseInfo1 div#curseInfoText p#appSubtitle {
  margin: 0;
  font-size: small;
}
html div#main-container div#main div#curseInfo2,
body div#main-container div#main div#curseInfo2 {
  display: block;
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 4px 12px 4px;
  margin: 20px;
  margin-top: 6px;
  border-radius: 0 0 6px 6px;
}
html div#main-container div#main div#curseInfo2 div#curseInfoText,
body div#main-container div#main div#curseInfo2 div#curseInfoText {
  text-align: center;
}
html div#main-container div#main div#curseInfo2 div#curseInfoText p#copyright,
body div#main-container div#main div#curseInfo2 div#curseInfoText p#copyright {
  margin: 0;
  font-size: small;
  opacity: 0.5;
}
html div#sidebar-container,
body div#sidebar-container {
  margin-left: 4px;
  float: left;
  display: block;
  width: var(--sidebarWidth);
  height: 100%;
}
html div#sidebar-container div#sidebar-button,
body div#sidebar-container div#sidebar-button {
  margin: 2px;
  border-radius: 14px;
  display: inline-block;
  width: 100%;
  height: 78px;
  transition: 0.2s ease-in-out;
}
html div#sidebar-container div#sidebar-button:hover,
body div#sidebar-container div#sidebar-button:hover {
  background: var(--sidebarBGHighlight-dark);
}
@media (prefers-color-scheme: light) {
  html div#sidebar-container div#sidebar-button:hover,
  body div#sidebar-container div#sidebar-button:hover {
    background: var(--sidebarBGHighlight-light);
  }
}
html div#sidebar-container div#sidebar-button:hover > *,
body div#sidebar-container div#sidebar-button:hover > * {
  opacity: 0.9;
}
html div#sidebar-container div#sidebar-button:active,
body div#sidebar-container div#sidebar-button:active {
  background: var(--sidebarBGHighlightClick-dark);
}
@media (prefers-color-scheme: light) {
  html div#sidebar-container div#sidebar-button:active,
  body div#sidebar-container div#sidebar-button:active {
    background: var(--sidebarBGHighlightClick-light);
  }
}
html div#sidebar-container div#sidebar-button div#sidebar-icon,
body div#sidebar-container div#sidebar-button div#sidebar-icon {
  display: flex;
  justify-content: center;
  transform: translateY(25%);
}
html div#sidebar-container div#sidebar-button p#sidebar-label,
body div#sidebar-container div#sidebar-button p#sidebar-label {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=styles.css.map */